div.page_name_auto_complete {
	width: 100px;
	background: #fff;
	display: inline;
	z-index: 9989;
}

div.page_name_auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

div.page_name_auto_complete ul li {
	margin: 0;
	padding: 3px;
}

div.page_name_auto_complete ul li.selected {
	background-color: #ffb;
}

div.page_name_auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}